{block content}
<h1>Congratulations!</h1>

{* todo :) *}

<footer>
	PHP {=PHP_VERSION} |
	{ifset $_SERVER['SERVER_SOFTWARE']}Server {$_SERVER['SERVER_SOFTWARE']}{/ifset} |
	Nette Framework {=Nette\Framework::VERSION}
</footer>
