body {
	max-width: 60em;
	margin: 0 auto;
}
footer {
	font-size: smaller;
	color: gray;
}

div.flash {
	color: black;
	background: #FFF9D7;
	border: 1px solid #E2C822;
	padding: 1em;
	margin: 1em 0;
}

a[href^="error:"] {
	background: red;
	color: white;
}
